body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   margin: 0 auto;
   height: 100%;
   padding-top: 50px;
   background: #f8f8f8
}

/*
--- With Box Shadow ---
.navbar.navbar, .navbar-default.navbar {
   box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28) !important;
   background: #00a0ff;
   font-weight: 400;
}
*/

.navbar.navbar, .navbar-default.navbar {
   background: #fff;
   font-weight: 400;
}

.navbar {
   margin: 0px;
}

.navbar.navbar, .navbar-default.navbar, .navbar-nav li a, .navbar-header {
    line-height: 56px;
    height: 56px;
    padding-top: 0;
    color: #fff;
}

a.navbar-brand {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    font-size: 1.5em;
    color: #000 !important;
}

.navbar-brand i {
   padding-bottom: 3px;
   color: #fff;
   background-repeat: no-repeat;
   background-position: 0 top;
   content: "";
   display: inline-block;
   height: 29px;
   margin-right: 10px;
   vertical-align: middle;
   width: 29px;
   background-image: url('https://cloud.githubusercontent.com/assets/9142339/16465649/701ff2a2-3e05-11e6-8609-051e3a3d13b7.png');
   background-size: 29px;
}

.notice a {
    color: #2196f3;
}

.notice p {
  margin: 6px;
  padding: 2px;
}

.notice h3 {
   margin: 0px;
   padding: 2px;
}

.schedule th, td{
  text-align: center;
}

.spacer {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-header {
    
}

.table.table-hover tr th {
  border-bottom: 2px solid ;
  background: #f8f8f8;
} 

.table.table-hover tr td {
  border-bottom: 1px solid #f8f8f8;
  background: #f8f8f8;
}

.holiday {
   color: #ff5555;
   font-weight: 500;
}

th {
  font-weight: 700; 
}

p.list-header {
    font-weight: 700;
    color: #000;
}

.test-schedule {
  background: #ffffff;
}

.hotline {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-hotline {
   color: #000 !important;
   background: #f8f8f8;
   border-radius: 100px;
   border-color: #000;
}

.btn:hover {
  background: #000 !important;
  color: #f8f8f8 !important;
  border-color: #000 !important;
}

.btn-fab {
   box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28) !important;
}

.fab-wrapper {
   position: fixed;
   bottom: 10px;
   right: 10px;
}
