<!DOCTYPE html>
<html>
  <head>
    <title>WHO DRIVES THIS WEEK?</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Angular.js -->
    <script src="js/shared/angular.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://cloud.githubusercontent.com/assets/9142339/16455778/34abd6de-3ddb-11e6-9602-a8d46a05cee2.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://cloud.githubusercontent.com/assets/9142339/16455686/e1f94d4a-3dda-11e6-950f-2a3fc55c66c6.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://cloud.githubusercontent.com/assets/9142339/16455738/10db3efc-3ddb-11e6-8860-6a1f8b635908.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://cloud.githubusercontent.com/assets/9142339/16455653/bcb61f9a-3dda-11e6-9d30-085c9d4b25cd.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://cloud.githubusercontent.com/assets/9142339/16455758/2310aa08-3ddb-11e6-925f-564ac4669caf.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://cloud.githubusercontent.com/assets/9142339/16455672/d0de5ae6-3dda-11e6-9f66-463adf1cd7e5.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://cloud.githubusercontent.com/assets/9142339/16455713/f8bb2080-3dda-11e6-928a-0f9e2b44c119.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cloud.githubusercontent.com/assets/9142339/16455598/8afcfe10-3dda-11e6-81e8-a0e222ea3c79.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cloud.githubusercontent.com/assets/9142339/16455576/7238866a-3dda-11e6-8d82-27711156c73b.png">
    <link rel="icon" type="image/png" href="https://cloud.githubusercontent.com/assets/9142339/16455249/3bbae46c-3dd9-11e6-962b-417f28922ea0.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://cloud.githubusercontent.com/assets/9142339/4694580/a3b6959a-57ce-11e4-987c-b7e626859335.png" sizes="160x160">
    <link rel="icon" type="image/png" href="https://cloud.githubusercontent.com/assets/9142339/16455466/0857b8ec-3dda-11e6-9965-cb8276f7aa51.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://cloud.githubusercontent.com/assets/9142339/16455523/3e7c7aca-3dda-11e6-937c-2e753f9b1c2a.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://cloud.githubusercontent.com/assets/9142339/16455493/26dc0fca-3dda-11e6-9b6e-d1a6594f35d5.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ff5555">
    <meta name="msapplication-TileImage" content="https://cloud.githubusercontent.com/assets/9142339/4694585/dcfb0c00-57ce-11e4-80c7-94e5daa2e624.png">
    
  </head>
  
  <body ng-app="DriveApp">
    
    <!-- Header -->
    <div class="container page-header">
      <div class="row">
        <div class="col-md-12 text-center page-header-box">
          <h1>WHO DRIVES THIS WEEK</h1>
        </div>
      </div>
    </div>
    
    <!-- Schedule -->
    <div class="main" ng-controller="MainController" ng-cloak>
      <div class="container">
        <div class="row">
          
          <!-- Driving Schedule -->
          <div class="col-md-6 col-sm-6 col-schedule">
            <p class="list-header text-center">SCHEDULE</p>
                <table class="table table-hover schedule">
                  <thead>
                    <tr>
                      <th class="text-center">Week of</th>
                      <th class="text-center">Driver</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="week in schedule" data-ng-class="getClass(week)">
                      <td>{{ week.day | date:'MM/dd/y' }}</td>
                      <td>{{ week.name }}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
          
          <!-- Holiday Schedule -->
          <div class="col-md-6 col-sm-6 col-schedule">
            <p class="list-header text-center">HOLIDAYS</p>
                <table class="table table-hover schedule">
                  <thead>
                    <tr>
                      <th class="text-center">Date</th>
                      <th class="text-center">Holiday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="holiday in holidays">
                      <td>{{ holiday.day | date:'MM/dd/y' }}</td>
                      <td>{{ holiday.name }}</td>
                    </tr>
                  </tbody>
                </table>
        </div>
          
          <!-- Hotline Button -->
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="text-center">
              <a href="javascript:void(0)" class="btn  btn-lg btn-block btn-hotline"><i class="fa fa-phone" aria-hidden="true"></i> FACILITY STATUS HOTLINE</a>
            </div>
          </div>
          
      </div>
    </div>
  </div>
  
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="js/shared/bootstrap.min.js"></script>
  <!-- Modules -->
  <script src="js/app.js"></script>
  <!-- Controllers -->
  <script src="js/controllers/MainController.js"></script>
  <!-- Directives -->
  <script src="js/directives/listGroup.js"></script>
      
  </body>
</html>
