body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.table {
  
}

.notice {
  background-color: #FF6600;
}

.notice p{
  color: #33333;
  padding: 2px;
}

.schedule th, td{
  text-align: center;
  width: 50%;
}
